.cart-content {
  margin-top: 30px;
  .cart-section-content{
    max-height: 0;
    transition: 0.2s ease;
    overflow: hidden;
    &.active{
      max-height: fit-content;
    }
  }
  .cart-section-heading {
    margin-bottom: 15px;
    background: linear-gradient(90deg, #cfe8b0 0%, #ffffff 100%);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    h2,
    p {
      display: flex;
      align-items: center;
      gap: 10px;
      font-weight: 500;
      font-size: 22px;
      line-height: 24px;
    }
    .collapse-btn{
      cursor: pointer;
    }
    i {
      font-size: 10px;
    }
    img {
      width: 21px;
    }
  }
  .cart-table {
    background: #f3f4f4;
    border-radius: 10px;
    padding: 30px 24px;
    &-list {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    input {
      width: 26px;
      height: 26px;
      cursor: pointer;
    }
    .del-btn {
      img {
        width: 30px;
        cursor: pointer;
      }
    }
    .line {
      height: 3px;

      background: linear-gradient(90deg, #488a26 0%, #ffffff 100%);
      width: 100%;
      margin-top: 11px;
      margin-bottom: 20px;
    }
    &-heading {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .left {
        display: flex;
        align-items: center;
        gap: 7px;
        img {
          width: 30px;
        }
        span {
          font-weight: 600;
          font-size: 20px;
          line-height: 32px;
          color: #303030;
        }
      }
    }
    .cart-table-row {
      display: flex;
      align-items: center;
      .left {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        img {
          width: 92px;
          height: 92px;
          border-radius: 8px;
        }
        span {
          font-weight: 500;
          font-size: 20px;
          line-height: 32px;
          flex: 1;
          color: #303030;
        }
      }
      .right {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .price {
          font-weight: 600;
          font-size: 20px;
          line-height: 32px;
          color: #de3618;
        }
        input {
          font-weight: 700;
          font-size: 16px;
          line-height: 20px;

          text-align: center;

          color: #303030;
        }
      }
    }
  }
  .cart-detail {
    background: #ffffff;
    padding: 24px;
    border: 1px solid #dddfe3;
    border-radius: 12px;
    &-header {
      .cart-detail-collapse-btn {
        rotate: 0deg;
        transition: 0.2s ease;
        &.active {
          rotate: 180deg;
        }
      }
      i {
        rotate: 0deg;
        cursor: pointer;
        transition: 0.2s;
        color: #de3618;
        font-size: 11px;
        &:hover {
          opacity: 0.8;
        }
        &.active{
          rotate: 180deg;
        }
      }
      h2 {
        font-weight: 600;
        font-size: 20px;
        line-height: 32px;
        color: #303030;
      }
      span {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height, or 150% */

        color: rgba(48, 48, 48, 0.8);
      }
    }
    &-content{
      max-height: 0px;
      overflow: hidden;
      transition: 0.2s;
      &.active{
        max-height: 500px;
      }
    }
    .cart-detail-row {
      padding: 19px 0;
      border-bottom: 1px solid #dddfe3;
      span {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        /* identical to box height, or 150% */

        color: rgba(48, 48, 48, 0.8);
      }
      p {
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        /* identical to box height, or 140% */

        text-align: right;

        /* Neutral/1 */

        color: #303030;
      }
      h2 {
        font-weight: 600;
        font-size: 20px;
        line-height: 32px;
        color: #303030;
      }
      h3 {
        font-weight: 600;
        font-size: 20px;
        line-height: 32px;
        text-align: right;

        color: #de3618;
      }
    }
    .cart-btn {
      margin-top: 27px;
      text-align: center;
      color: #fff;
      background: rgba(222, 54, 24, 0.85);
      border-radius: 8px;
      padding: 9px 0;
      width: 100%;
      cursor: pointer;
      transition: 0.2s ease-in;
      &:hover {
        opacity: 0.75;
      }
    }
  }
  .cart-form {
    background: #ffffff;
    /* Neutral/4 */

    border: 1px solid #dddfe3;
    border-radius: 12px;
    padding: 24px;
    &-header {
      h2 {
        font-weight: 600;
        font-size: 20px;
        line-height: 32px;
        padding-bottom: 24px;
        border-bottom: 1px solid #dddfe3;

        color: #303030;
      }
    }
    &-row {
      margin-top: 20px;
      input {
        outline: none;
        padding: 14px 24px;
        font-size: 20px;
        background: rgba(139, 198, 63, 0.15);
        border: 1px solid #cdd0d3;
        border-radius: 8px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        width: 100%;
        color: #959ead;
      }
      p,
      span {
        display: flex;
        align-items: center;
        gap: 5px;
        font-weight: 400;
        font-size: 19px;
        line-height: 28px;
        /* or 140% */

        display: flex;
        align-items: center;

        /* Neutral/1 */

        color: #303030;
        span {
          color: red;
        }
      }
      input[type="radio"] {
        width: 24px;
        height: 24px;
      }
      .radio-group {
        display: flex;
        align-items: center;
        gap: 10px;
        .radio-wrap {
          display: flex;
          align-items: center;
          gap: 5px;
        }
      }
    }
    .captcha-wrap {
      .col-md-8 {
        display: flex;
        align-items: center;
        gap: 20px;
      }
      .captcha-img {
        max-width: 232px;
      }
      input {
        flex: 1;
        background: #f3f4f4;
        border: 1px solid #f3f4f4;
        border-radius: 8px;
        font-size: 16px;
        line-height: 24px;
      }
    }
    .send-btn {
      background: #0184d3;
      border-radius: 8px;
      padding: 8px 0;
      width: 100%;
      color: #fff;
      font-weight: 600;
      font-size: 20px;
      line-height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      transition: 0.2s ease;
      cursor: pointer;
      &:hover {
        opacity: 0.75;
      }
    }
  }
}

/* small mobile */

@media screen and (max-width: 375px) {
  .cart-content {
    .cart-section-heading {
      h2,
      p {
        font-size: 14px;
        line-height: 14px;
      }
      i {
        font-size: 5px;
      }
      img {
        width: 12px;
      }
    }
  }
}

/* mobile */
@media screen and (max-width: 767px) {
  .cart-content {
    .cart-section-heading {
      padding: 12px;

      h2,
      p {
        font-size: 15px;
        line-height: 15px;
      }
      i {
        font-size: 6px;
      }
      img {
        width: 14px;
      }
    }
    .cart-table {
      &-heading {
        .left {
          span {
            font-size: 14px;
          }
        }
      }
      input {
        width: 20px;
      }
      .del-btn {
        img {
          width: 18px;
        }
      }

      .cart-table-row {
        .left {
          flex-wrap: wrap;
          gap: 7px;
          justify-content: flex-start;
          img {
            width: 40px;
            height: 40px;
          }
          span {
            font-size: 12px;
            line-height: 14px;
          }
        }
        .right {
          input {
            font-size: 12px;
          }
          .price {
            line-height: 15px;
            font-size: 12px;
          }
          .price-wrap {
            flex-direction: column;
          }
        }
      }
    }
    .cart-detail {
      &-header {
        h2 {
          font-size: 18px;
        }
        img {
          width: 12px;
        }
        span {
          font-size: 15px;
        }
      }
      .cart-detail-row {
        padding: 19px 0;
        span {
          font-size: 12px;
          line-height: 20px;
        }
        p {
          font-size: 14px;
          line-height: 24px;
          white-space: pre-wrap;
          text-align: right;
        }
        h2 {
          font-size: 16px;
          line-height: 28px;
        }
        h3 {
          font-size: 16px;
          line-height: 28px;
        }
      }
      .cart-btn {
        margin-top: 22px;
        padding: 6px 0;
        font-size: 16px;
      }
    }

    .cart-form {
      padding: 24px;
      &-header {
        h2 {
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          padding-bottom: 20px;
        }
      }
      &-row {
        margin-top: 14px;
        input {
          padding: 8px 12px;
          font-size: 12px;
          &::placeholder {
            font-size: 0;
          }
        }
        p,
        span {
          gap: 3px;
          font-size: 12px;
          line-height: 20px;

          span {
            color: red;
          }
        }
        input[type="radio"] {
          width: 18px;
          height: 18px;
        }
        .col-8 {
          width: 50% !important;
        }
        .col-4 {
          width: 50% !important;
        }
        .radio-group {
          gap: 10px;
          .radio-wrap {
            gap: 5px;
          }
        }
      }
      .captcha-wrap {
        .col-md-8 {
          display: flex;
          align-items: center;
          gap: 8px;
        }
        .captcha-img {
          max-width: 150px;
        }
        .speaker,
        .reload-img {
          width: 25px;
        }
        input {
          flex: 1;
          background: #f3f4f4;
          border: 1px solid #f3f4f4;
          border-radius: 8px;
          font-size: 16px;
          line-height: 24px;
        }
      }
      .send-btn {
        img {
          width: 16px;
        }
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
}

/* only 786 */
@media screen and (min-width: 768px) and (max-width: 770px) {
}

/* tablet */
@media screen and (min-width: 768px) and (max-width: 1023.98px) {
  .cart-content {
    .cart-section-heading {
      padding: 14px;

      h2,
      p {
        font-size: 16px;
        line-height: 18px;
      }
      i {
        font-size: 6px;
      }
      img {
        width: 16px;
      }
    }
    .cart-table {
      &-heading {
        .left {
          span {
            font-size: 15px;
          }
        }
      }
      input {
        width: 20px;
      }
      .del-btn {
        img {
          width: 24px;
        }
      }
      .cart-table-row {
        .left {
          img {
            width: 70px;
            height: 70px;
          }
          span {
            line-height: 15px;
            font-size: 14px;
            max-width: 180px;
            flex: 1;
          }
        }
        .right {
          input {
            font-size: 13px;
          }
          .price {
            line-height: 18px;
            font-size: 13px;
          }
        }
      }
    }
    .cart-form {
      padding: 24px;
      .send-btn {
        font-size: 16px;
        line-height: 28px;
        img {
          width: 20px;
        }
      }
      &-header {
        h2 {
          font-weight: 600;
          font-size: 18px;
          line-height: 26px;
          padding-bottom: 24px;
        }
      }
      &-row {
        margin-top: 18px;
        input {
          padding: 10px 15px;
          font-size: 15px;
        }
        p,
        span {
          gap: 5px;
          font-size: 15px;
          line-height: 20px;

          span {
            color: red;
          }
        }
        input[type="radio"] {
          width: 24px;
          height: 24px;
        }
        .radio-group {
          gap: 10px;
          .radio-wrap {
            gap: 5px;
          }
        }
      }
      .captcha-wrap {
        .col-md-8 {
          display: flex;
          align-items: center;
          gap: 8px;
        }
        .captcha-img {
          max-width: 150px;
        }
        .speaker,
        .reload-img {
          width: 25px;
        }
        input {
          flex: 1;
          background: #f3f4f4;
          border: 1px solid #f3f4f4;
          border-radius: 8px;
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
  }
}

/* only 1024 */

@media screen and (min-width: 1024px) and (max-width: 1030px) {
  .cart-content {
    .cart-section-heading {
      padding: 16px;

      h2,
      p {
        font-size: 18px;
        line-height: 20px;
      }
      i {
        font-size: 8px;
      }
      img {
        width: 17px;
      }
    }
    .cart-table {
      &-heading {
        .left {
          span {
            font-size: 16px;
          }
        }
      }
      input {
        width: 22px;
      }
      .del-btn {
        img {
          width: 26px;
        }
      }
      .cart-table-row {
        .left {
          img {
            width: 70px;
            height: 70px;
          }
          span {
            line-height: 20px;
            font-size: 15px;
            max-width: 150px;
          }
        }
        .right {
          input {
            font-size: 14px;
          }
          .price {
            line-height: 22px;
            font-size: 16px;
          }
        }
      }
    }
    .cart-detail {
      padding: 18px;
      &-header {
        h2 {
          font-size: 16px;
        }
        img {
          width: 10px;
        }
        span {
          font-size: 12px;
        }
      }
      .cart-detail-row {
        padding: 19px 0;
        span {
          font-size: 9px;
          line-height: 20px;
        }
        p {
          font-size: 10px;
          line-height: 20px;
          white-space: pre-wrap;
          text-align: right;
        }
        h2 {
          font-size: 12px;
          line-height: 25px;
        }
        h3 {
          font-size: 12px;
          line-height: 25px;
        }
      }
      .cart-btn {
        margin-top: 22px;
        padding: 6px 0;
        font-size: 16px;
      }
    }
    .cart-form {
      padding: 24px;
      &-header {
        h2 {
          font-weight: 600;
          font-size: 18px;
          line-height: 26px;
          padding-bottom: 24px;
        }
      }
      &-row {
        margin-top: 18px;
        input {
          padding: 10px 15px;
          font-size: 13px;
        }
        p,
        span {
          gap: 5px;
          font-size: 13px;
          line-height: 20px;

          span {
            color: red;
          }
        }
        input[type="radio"] {
          width: 24px;
          height: 24px;
        }
        .radio-group {
          gap: 10px;
          .radio-wrap {
            gap: 5px;
          }
        }
      }
      .captcha-wrap {
        .col-md-8 {
          display: flex;
          align-items: center;
          gap: 8px;
        }
        .captcha-img {
          max-width: 140px;
        }
        .speaker,
        .reload-img {
          width: 25px;
        }
        input {
          flex: 1;
          background: #f3f4f4;
          border: 1px solid #f3f4f4;
          border-radius: 8px;
          font-size: 16px;
          line-height: 24px;
          &::placeholder {
            font-size: 0;
          }
        }
      }
      .send-btn {
        img {
          width: 22px;
        }
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}

/* middle pc */
@media screen and (min-width: 1200px) and (max-width: 1555px) {
  .cart-content {
    .cart-section-heading {
      padding: 18px;

      h2,
      p {
        font-size: 20px;
        line-height: 22px;
      }
      i {
        font-size: 8px;
      }
      img {
        width: 19px;
      }
    }
    .cart-table {
      &-heading {
        .left {
          span {
            font-size: 18px;
          }
        }
      }
      input {
        width: 24px;
      }
      .del-btn {
        img {
          width: 28px;
        }
      }
      .line {
        margin-top: 13px;
        margin-bottom: 20px;
      }
      .cart-table-row {
        .left {
          img {
            width: 75px;
            height: 75px;
          }
          span {
            line-height: 22px;
            font-size: 16px;
            max-width: 230px;
          }
        }
        .right {
          input {
            font-size: 15px;
          }
          .price {
            line-height: 26px;
            font-size: 18px;
          }
        }
      }
    }
    .cart-detail {
      &-header {
        h2 {
          font-size: 18px;
        }
        span {
          font-size: 15px;
        }
        img {
          width: 13px;
        }
      }
      .cart-detail-row {
        padding: 19px 0;
        span {
          font-size: 12px;
          line-height: 20px;
        }
        p {
          font-size: 14px;
          line-height: 24px;

          text-align: right;
        }
        h2 {
          font-size: 16px;
          line-height: 28px;
        }
        h3 {
          font-size: 16px;
          line-height: 28px;
        }
      }
      .cart-btn {
        margin-top: 27px;
        padding: 9px 0;
        font-size: 18px;
      }
    }
    .cart-form {
      padding: 24px;
      &-header {
        h2 {
          font-weight: 600;
          font-size: 18px;
          line-height: 26px;
          padding-bottom: 24px;
        }
      }
      &-row {
        margin-top: 18px;
        input {
          padding: 12px 18px;
          font-size: 14px;
        }
        p,
        span {
          gap: 5px;
          font-size: 14px;
          line-height: 25px;

          span {
            color: red;
          }
        }
        input[type="radio"] {
          width: 24px;
          height: 24px;
        }
        .radio-group {
          gap: 10px;
          .radio-wrap {
            gap: 5px;
          }
        }
      }
      .captcha-wrap {
        .col-md-8 {
          display: flex;
          align-items: center;
          gap: 12px;
        }
        .captcha-img {
          max-width: 160px;
        }
        .speaker,
        .reload-img {
          width: 28px;
        }
        input {
          flex: 1;
          background: #f3f4f4;
          border: 1px solid #f3f4f4;
          border-radius: 8px;
          font-size: 16px;
          line-height: 24px;
        }
      }
      .send-btn {
        img {
          width: 24px;
        }
        font-size: 18px;
        line-height: 28px;
      }
    }
  }
}


@media screen and (min-width: 1600px){
  .cart-content{
    .cart-table{
      .cart-table-row{
        .right{
          gap: 70px;
          justify-content: flex-end;
          .price-wrap{
            gap: 66px !important;
          }
        }
      }
    }
  }
}