.search-bar {
  display: flex;
  align-items: center;
  gap: 15px;
  flex: 1;
  height: 100%;
  justify-content: flex-end;
  input {
    max-width: 424px;
    padding-left: 16px;
    color: #000;
    background: rgba(227, 243, 228, 0.78);
    border-radius: 8px;
    height: 45px;
    font-size: 16px;
    border: none;
    width: 100%;
    outline: none;
  }

  .search-icon {
    &:hover {
      opacity: 0.7;
    }
    transition: 0.2s ease;
    cursor: pointer;
    width: 45px;
    max-width: 45px;

    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 400;
    height: 45px;
    padding: 0 3px;
    border-radius: 8px;
    background-color: #8bc63f;
  }
}
.news-wrap {
  .news-menu {
    h2 {
      background: linear-gradient(90deg, #8bc63f 0%, #ffffff 100%);
      border-radius: 5px;
      font-weight: 500;
      font-size: 18px;
      line-height: 20px;
      /* identical to box height, or 111% */
      margin-bottom: 12px;
      color: #000000;

      padding: 8px 10px;
    }
    ul {
      padding-left: 28px;
      display: flex;
      flex-direction: column;
      gap: 8px;
      li {
        list-style: url("../img/news-menu-dot.svg");
      }
    }
    a {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #373333;
    }
  }
  .left {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .breadcump-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .breadcump-item {
    display: flex;
    align-items: center;
    gap: 10px;

    h2 {
      font-weight: 500;
      font-size: 22px;
      line-height: 24px;
      color: #395319;
    }
    h3 {
      font-weight: 500;
      font-size: 22px;
      line-height: 24px;
      color: #395319;
    }
    img {
      width: 10px;
    }
  }
  .news-list {
  }

  .news-item {
    padding: 20px;
    display: flex;
    gap: 16px;
    .news-item-img {
      width: 270px;

      img {
        height: 177px;
        border-radius: 8px;
      }
    }
    .news-item-title {
      font-weight: 600;
      font-size: 20px;
      line-height: 27px;
      /* or 135% */

      /* Neutral/1 */

      color: #303030;
    }
    .news-item-info {
      display: flex;
      align-items: center;
      gap: 15px;
      img {
        width: 15px;
      }
      .news-item-date,
      .news-item-view {
        display: flex;
        align-items: center;
        gap: 3px;
      }
    }
    .d-flex {
      flex: 1;
    }
    .news-item-content {
      font-weight: 400;
      font-size: 18px;
      line-height: 20px;

      color: #303030;
    }
  }
}

/* small mobile */

@media screen and (max-width: 375px) {
}

/* mobile */
@media screen and (max-width: 767px) {
  .news-wrap {
    .news-menu {
      h2 {
        font-size: 15px;
      }
      a {
        font-size: 10px;
      }
    }
    .news-item {
      flex-direction: column;
      .news-item-title {
        font-size: 16px;
        line-height: 18px;
      }
      .news-item-info {
        font-size: 12px;
      }
      .news-item-content {
        font-size: 14px;
      }
    }
  }
}

/* only 786 */
@media screen and (min-width: 768px) and (max-width: 770px) {
  .news-wrap {
    .news-menu {
      h2 {
        font-size: 15px;
      }
      a {
        font-size: 12px;
      }
    }
    .news-item {
      flex-direction: column;
      .news-item-title {
        font-size: 16px;
        line-height: 18px;
      }
      .news-item-info {
        font-size: 12px;
      }
      .news-item-content {
        font-size: 14px;
      }
    }
    .breadcump-wrap {
      h2 {
        font-size: 16px;
      }
      h3 {
        font-size: 16px;
      }
    }
  }
}

/* tablet */
@media screen and (min-width: 768px) and (max-width: 1023.98px) {
  .search-bar {
    input {
    }
    .search-icon {
    }
  }
  .news-wrap {
    .news-menu {
      h2 {
        font-size: 16px;
      }
      a {
        font-size: 12px;
      }
    }
    .news-item {
      .news-item-title {
        line-height: 20px;
        font-size: 15px;
      }
      .news-item-info {
        font-size: 12px;
      }
      .news-item-content {
        font-size: 13px;
      }
    }
  }
  .breadcump-wrap {
    .search-bar {
      max-width: 300px;
    }
    h2 {
      font-size: 16px;
    }
    h3 {
      font-size: 16px;
    }
  }
}

/* only 1024 */

@media screen and (min-width: 1024px) and (max-width: 1030px) {
  .search-bar {
  }
  .news-wrap {
    .news-menu {
      h2 {
        font-size: 14px;
      }
      a {
        font-size: 10px;
      }
    }
    .news-item {
      .news-item-title {
        font-size: 16px;
      }
      .news-item-info {
        font-size: 13px;
      }
      .news-item-content {
        font-size: 15px;
      }
    }
    .breadcump-wrap {
      .search-bar {
        max-width: 300px;
      }
      h2 {
        font-size: 17px;
      }
      h3 {
        font-size: 17px;
      }
    }
  }
}

/* middle pc */
@media screen and (min-width: 1300px) {
  .search-bar {
  }
  .news-wrap {
    .news-menu {
      h2 {
        font-size: 17px;
      }
      a {
        font-size: 13px;
      }
    }
    .news-item {
      .news-item-title {
        font-size: 18px;
      }
      .news-item-info {
        font-size: 14px;
      }
      .news-item-content {
        font-size: 16px;
      }
    }

    .breadcump-wrap {
      h2 {
        font-size: 20px;
      }
      h3 {
        font-size: 20px;
      }
    }
  }
}
