.search-bar {
  display: flex;
  align-items: center;
  gap: 15px;
  flex: 1;
  height: 100%;
  justify-content: flex-end;
  input {
    max-width: 424px;
    padding-left: 16px;
    color: #000;
    background: rgba(227, 243, 228, 0.78);
    border-radius: 8px;
    height: 45px;
    font-size: 16px;
    border: none;
    width: 100%;
    outline: none;
  }

  .search-icon {
    &:hover {
      opacity: 0.7;
    }
    transition: 0.2s ease;
    cursor: pointer;
    width: 45px;
    max-width: 45px;

    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 400;
    height: 45px;
    padding: 0 3px;
    border-radius: 8px;
    background-color: #8bc63f;
  }
}
.news-wrap {
  margin-top: 33px;
  .news-menu {
    h2 {
      background: linear-gradient(90deg, #8bc63f 0%, #ffffff 100%);
      border-radius: 5px;
      font-weight: 500;
      font-size: 18px;
      line-height: 20px;
      /* identical to box height, or 111% */
      margin-bottom: 12px;
      color: #000000;

      padding: 8px 10px;
    }
    ul {
      padding-left: 28px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      li {
        list-style: url("../img/news-menu-dot.svg");
      }
    }
    a {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #373333;
    }
  }
  .left {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .breadcump-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
  }
  .breadcump-item {
    display: flex;
    align-items: center;
    gap: 10px;

    h2 {
      font-weight: 500;
      font-size: 22px;
      line-height: 24px;
      color: #395319;
      transition: 0.2s ease;
      cursor: pointer;
      &:hover {
        opacity: 0.7;
      }
    }
    h3 {
      font-weight: 500;
      font-size: 22px;
      line-height: 24px;
      color: #395319;
    }
    img {
      width: 10px;
    }
  }
  .news-list {
  }

  .news-item {
    padding: 20px;
    display: flex;
    gap: 16px;
    .news-item-img {
      width: 270px;

      img {
        height: 177px;
        border-radius: 8px;
      }
    }
    .news-item-title {
      font-weight: 600;
      font-size: 20px;
      line-height: 27px;
      /* or 135% */

      /* Neutral/1 */

      color: #303030;
    }
    .news-item-info {
      display: flex;
      align-items: center;
      gap: 15px;
      img {
        width: 15px;
      }
      .news-item-date,
      .news-item-view {
        display: flex;
        align-items: center;
        gap: 3px;
      }
    }
    .d-flex {
      flex: 1;
    }
    .news-item-content {
      font-weight: 400;
      font-size: 18px;
      line-height: 20px;

      color: #303030;
    }
  }
}
.news-detail {
  margin-top: 34px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  .news-detail-heading {
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
    color: #303030;
  }
  .news-detail-img {
    margin: 0 auto;
    width: 80%;
  }

  .news-detail-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #303030;
  }
  .news-detail-subheading {
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    color: #303030;
  }
  .news-detail-footer {
    p {
      font-style: italic;
      font-weight: 500;
      text-align: right;
      font-size: 22px;
      line-height: 24px;display: flex;
      align-items: center;
      gap: 5px;
      color: #303030;
      a{
      color: #303030;
        text-decoration: none;
      }
    }
    a {
      font-style: italic;
      font-weight: 300;
      font-size: 22px;
      line-height: 24px;
      text-decoration-line: underline;
      color: #0184d3;
    }
  }
}
.other-news {
  margin-top: 45px;
  margin-bottom: 65px;
  .other-news-title {
    display: flex;
    align-items: center;
    h2 {
      margin-left: 10px;
      font-weight: 600;
      font-size: 28px;
      line-height: 32px;

      color: #395319;
    }
    .line {
      background-color: #395319;
      height: 1px;
      flex: 1;
      margin-left: 10px;
    }
  }
  ul {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    gap: 20px;
  }
  li {
    font-weight: 400;
    gap: 25px;
    font-size: 22px;
    line-height: 24px;

    display: flex;
    align-items: center;

    color: #395319;
  }
}
/* small mobile */

@media screen and (max-width: 375px) {
}

/* mobile */
@media screen and (max-width: 767px) {
  .header {
    .search-bar {
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 0;
    }
  }
  .search-bar {
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin-bottom: 20px;
  }
  .news-wrap {
    margin-top: 15px;
    .news-item {
      padding: 0;
    }
    .row {
      flex-direction: column-reverse;
    }
    .breadcump-wrap {
      margin-top: 12px;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      .breadcump-item {
        h2 {
          font-size: 16px;
        }
        h3 {
          font-size: 16px;
        }
      }
    }
    .news-list {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    .news-menu {
      h2 {
        font-size: 15px;
      }
      a {
        font-size: 10px;
      }
    }
    .news-item {
      flex-direction: column;
      padding-left: 0;
      .news-item-img {
        width: 100%;
        img {
          width: 100%;
          object-fit: cover;
        }
      }
      .news-item-title {
        font-size: 16px;
        line-height: 18px;
      }
      .news-item-info {
        font-size: 12px;
      }
      .news-item-content {
        font-size: 14px;
      }
    }
  }
  .news-detail {
    margin-top: 25px;
    gap: 15px;
    .news-detail-heading {
      font-weight: 600;
      font-size: 20px;
      line-height: 25px;
    }
    .news-detail-img {
    }

    .news-detail-text {
      font-size: 12px;
      line-height: 28px;
    }
    .news-detail-subheading {
      font-size: 12px;
      line-height: 28px;
    }
    .news-detail-footer {
      flex-direction: column;
      align-items: flex-start !important;
      p {
        font-size: 12px;
        line-height: 24px;
      
      }
      a {
        font-size: 12px;
        line-height: 24px;
      }
    }
  }
  .other-news {
    margin-top: 25px;
    margin-bottom: 40px;
    .other-news-title {
      h2 {
        margin-left: 10px;
        font-size: 18px;
        line-height: 20px;
      }
      .line {
        margin-left: 8px;
      }
    }
    ul {
      margin-top: 27px;
      gap: 15px;
    }
    li {
      gap: 12px;
      font-size: 12px;
      line-height: 20px;

      img {
        width: 20px;
      }
    }
  }
}

/* only 786 */
@media screen and (min-width: 768px) and (max-width: 770px) {
  .news-wrap {
    .row {
      flex-direction: row;
    }
    
    .search-bar {
      width: 100%;
      max-width: unset !important;
      input {
        &::placeholder {
        }
      }
    }
    .breadcump-wrap {
      flex-direction: column;
      align-items: flex-start;
    }
    .news-item {
      padding-left: 0;
      padding-right: 0;
    }
    .news-menu {
      h2 {
        font-size: 13px !important;
      }
      a {
        font-size: 11px !important;
      }
    }
    .news-item {
      flex-direction: column;
      .news-item-img {
        width: 100%;
        img {
          width: 100%;
          object-fit: cover;
        }
      }
      .news-item-title {
        font-size: 16px;
        line-height: 18px;
      }
      .news-item-info {
        font-size: 12px;
      }
      .news-item-content {
        font-size: 14px;
      }
    }
    .breadcump-wrap {
      h2 {
        font-size: 16px;
      }
      h3 {
        font-size: 16px;
      }
    }
  }
  .news-detail {
    margin-top: 25px;
    gap: 15px;
    .news-detail-heading {
      font-weight: 600;
      font-size: 20px;
      line-height: 25px;
    }
    .news-detail-img {
     
    }

    .news-detail-text {
      font-size: 12px;
      line-height: 28px;
    }
    .news-detail-subheading {
      font-size: 12px;
      line-height: 28px;
    }
    .news-detail-footer {
      p {
        font-size: 14px;
        line-height: 24px;
      }
      a {
        font-size: 14px;
        line-height: 24px;
      }
    }
  }
  .news-detail-footer{
    flex-direction: column;
    align-items: flex-start !important;
    p{
      
    }
  }
}

/* tablet */
@media screen and (min-width: 768px) and (max-width: 1023.98px) {
  .search-bar {
    input {
    }
    .search-icon {
    }
  }
  .news-wrap {
    margin-top: 20px;
    .news-menu {
      h2 {
        font-size: 16px;
      }
      a {
        font-size: 12px;
      }
    }
    .news-item {
      .news-item-title {
        line-height: 20px;
        font-size: 15px;
      }
      .news-item-info {
        font-size: 12px;
      }
      .news-item-content {
        font-size: 13px;
      }
    }
  }
  .breadcump-wrap {
    .search-bar {
      max-width: 300px;
    }
    h2 {
      font-size: 16px;
    }
    h3 {
      font-size: 16px;
    }
  }
  .news-detail {
    margin-top: 25px;
    gap: 18px;
    .news-detail-heading {
      font-weight: 600;
      font-size: 22px;
      line-height: 25px;
    }
    .news-detail-img {
    }

    .news-detail-text {
      font-size: 14px;
      line-height: 28px;
    }
    .news-detail-subheading {
      font-size: 14px;
      line-height: 28px;
    }
    .news-detail-footer {
      p {
        font-size: 16px;
        line-height: 20px;
      }
      a {
        font-size: 16px;
        line-height: 20px;
      }
    }
  }
  .other-news {
    margin-top: 30px;
    margin-bottom: 50px;
    .other-news-title {
      h2 {
        margin-left: 10px;
        font-size: 22px;
        line-height: 28px;
      }
      .line {
        margin-left: 10px;
      }
    }
    ul {
      margin-top: 27px;
      gap: 15px;
    }
    li {
      gap: 14px;
      font-size: 16px;
      line-height: 24px;

      img {
        width: 23px;
      }
    }
  }
}

/* only 1024 */

@media screen and (min-width: 1024px) and (max-width: 1030px) {
  .search-bar {
  }
  .news-wrap {
    margin-top: 25px;
    .news-menu {
      h2 {
        font-size: 14px;
      }
      a {
        font-size: 10px;
      }
    }
    .news-item {
      .news-item-title {
        font-size: 16px;
      }
      .news-item-info {
        font-size: 13px;
      }
      .news-item-content {
        font-size: 15px;
      }
    }
    .breadcump-wrap {
      .search-bar {
        max-width: 300px;
      }
      h2 {
        font-size: 17px;
      }
      h3 {
        font-size: 17px;
      }
    }
  }
  .news-detail {
    margin-top: 30px;
    gap: 20px;
    .news-detail-heading {
      font-weight: 600;
      font-size: 24px;
      line-height: 25px;
    }
    .news-detail-img {
    }

    .news-detail-text {
      font-size: 16px;
      line-height: 28px;
    }
    .news-detail-subheading {
      font-size: 16px;
      line-height: 28px;
    }
    .news-detail-footer {
      p {
        font-size: 18px;
        line-height: 20px;
      }
      a {
        font-size: 18px;
        line-height: 20px;
      }
    }
  }
  .other-news {
    margin-top: 35px;
    margin-bottom: 55px;
    .other-news-title {
      h2 {
        margin-left: 10px;
        font-size: 24px;
        line-height: 28px;
      }
      .line {
        margin-left: 10px;
      }
    }
    ul {
      margin-top: 27px;
      gap: 18px;
    }
    li {
      gap: 18px;
      font-size: 18px;
      line-height: 24px;

      img {
        width: 25px;
      }
    }
  }
}

/* middle pc */
@media screen and (min-width: 1200px) and (max-width: 1600px) {
  .search-bar {
  }
  .news-wrap {
    margin-top: 30px;
    .news-menu {
      h2 {
        font-size: 17px;
      }
      a {
        font-size: 13px;
      }
    }
    .news-item {
      .news-item-title {
        font-size: 18px;
      }
      .news-item-info {
        font-size: 14px;
      }
      .news-item-content {
        font-size: 16px;
      }
    }

    .breadcump-wrap {
      gap: 30px;
      h2 {
        font-size: 20px;
      }
      h3 {
        font-size: 20px;
      }
    }
  }
  .news-detail {
    margin-top: 34px;
    gap: 22px;
    .news-detail-heading {
      font-weight: 600;
      font-size: 26px;
      line-height: 30px;
    }
    .news-detail-img {
    }

    .news-detail-text {
      font-size: 18px;
      line-height: 30px;
    }
    .news-detail-subheading {
      font-size: 18px;
      line-height: 30px;
    }
    .news-detail-footer {
      p {
        font-size: 20px;
        line-height: 24px;
      }
      a {
        font-size: 20px;
        line-height: 24px;
      }
    }
  }
  .other-news {
    margin-top: 40px;
    margin-bottom: 60px;
    .other-news-title {
      h2 {
        margin-left: 10px;
        font-size: 26px;
        line-height: 32px;
      }
      .line {
        margin-left: 10px;
      }
    }
    ul {
      margin-top: 30px;
      gap: 20px;
    }
    li {
      gap: 25px;
      font-size: 20px;
      line-height: 24px;

      img {
        width: 28px;
      }
    }
  }
}
